# Chrome 相關文件
chrome-win64/
*.dll
*.exe
*.pak
*.bin
*.dat

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# 環境文件
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 日誌文件
*.log
*.txt

# 其他
.DS_Store
Thumbs.db 